// - basic-template.pug
html
  head
    title Realm of Wu
    link(rel='stylesheet', href='/css/style.css')
  body
    div(class="top-nav-section") top nav section text
    div(class="left-nav-section") left nav section text
    div(class="right-section") right section text
