extends basic-template

block content
  div(class="center")
    table(style="border-collapse:separate; border-spacing: 0px; ")
      each row in imageMap
        tr
          each location in row
            td(style="padding:0px")
              if location.type == "AdventureLocation" || location.type == "MapLocation"
                a(href="map/?locationID=" + location.id)
                  img(src=location["image"])
              else if location.type != "AdventureLocation"
                img(src=location["image"])
